hsven-ws/hsven-ws-client/src/main/resources/wsdl/GetNoticeFromLTE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://localhost:8080/platform_ctcc/services/GetNoticeFromLTE" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://localhost:8080/platform_ctcc/services/GetNoticeFromLTE" xmlns:intf="http://localhost:8080/platform_ctcc/services/GetNoticeFromLTE" xmlns:tns1="http://util.base.sheet.eoms.boco.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://util.base.sheet.eoms.boco.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getNotice">
    <complexType>
     <sequence>
      <element name="orderId" type="xsd:string"/>
      <element name="ordertype" type="xsd:string"/>
      <element name="dealResult" type="xsd:string"/>
      <element name="errContent" type="xsd:string"/>
      <element name="dispatchtype" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getNoticeResponse">
    <complexType>
     <sequence>
      <element name="getNoticeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getNoticeRequest">

      <wsdl:part element="tns1:getNotice" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getNoticeResponse">

      <wsdl:part element="tns1:getNoticeResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="GetNoticeFromLTE">

      <wsdl:operation name="getNotice">

         <wsdl:input message="impl:getNoticeRequest" name="getNoticeRequest"/>

         <wsdl:output message="impl:getNoticeResponse" name="getNoticeResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GetNoticeFromLTESoapBinding" type="impl:GetNoticeFromLTE">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getNotice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNoticeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNoticeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GetNoticeFromLTEService">

      <wsdl:port binding="impl:GetNoticeFromLTESoapBinding" name="GetNoticeFromLTE">

         <wsdlsoap:address location="http://localhost:8080/platform_ctcc/services/GetNoticeFromLTE"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
