hsven-ws/hsven-ws-client/src/main/resources/wsdl/SCWebservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.boco.com" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding"
                  xmlns:tns="http://webservice.boco.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
                    elementFormDefault="qualified" targetNamespace="http://webservice.boco.com">
            <xsd:element name="newSMSInterface">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="newSMSInterfaceResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="newMMSInterface">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="newMMSInterfaceResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="newMMSInterfaceRequest">
        <wsdl:part name="parameters" element="tns:newMMSInterface">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="newSMSInterfaceResponse">
        <wsdl:part name="parameters" element="tns:newSMSInterfaceResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="newMMSInterfaceResponse">
        <wsdl:part name="parameters" element="tns:newMMSInterfaceResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="newSMSInterfaceRequest">
        <wsdl:part name="parameters" element="tns:newSMSInterface">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="TestWebservicePortType">
        <wsdl:operation name="newSMSInterface">
            <wsdl:input name="newSMSInterfaceRequest" message="tns:newSMSInterfaceRequest">
            </wsdl:input>
            <wsdl:output name="newSMSInterfaceResponse" message="tns:newSMSInterfaceResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="newMMSInterface">
            <wsdl:input name="newMMSInterfaceRequest" message="tns:newMMSInterfaceRequest">
            </wsdl:input>
            <wsdl:output name="newMMSInterfaceResponse" message="tns:newMMSInterfaceResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TestWebserviceHttpBinding" type="tns:TestWebservicePortType">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="newSMSInterface">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="newSMSInterfaceRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="newSMSInterfaceResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="newMMSInterface">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="newMMSInterfaceRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="newMMSInterfaceResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TestWebservice">
        <wsdl:port name="TestWebserviceHttpPort" binding="tns:TestWebserviceHttpBinding">
            <wsdlsoap:address location="http://10.102.51.23:8088/MessageConsole/services/TestWebservice"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
